.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

@media (max-width: 768px) {
    html {                 /* 14 se refere a 14px q é o tamanho q eu quero e 16 o 100% */
        font-size: 87.5%; /* (14 * 100 / 16) */
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}